name: Test and Build Flutter

on:
  push:
  pull_request:

permissions: read-all

jobs:
  build:
    name: Build ${{ matrix.target }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target: ["apk --debug", "appbundle --debug"]
    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: 'temurin'

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Read Version Flutter
        id: read_fvm_config
        uses: juliangruber/read-file-action@v1.1.6
        with:
          path: ./.fvmrc

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{fromJson(steps.read_fvm_config.outputs.content).flutter}}

      - name: Check Flutter
        run: flutter doctor -v

      - name: Install Dependencies and environment
        run: |
          flutter pub get
          flutter pub run build_runner build --delete-conflicting-outputs
          cp .env.dev .env

      - name: Run tests
        run: flutter test --coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          flags: unittests
          verbose: true

      - name: Configure Keystore
        run: |
          echo "debugStoreFile=keystore/debug_keystore" >> key.properties
          echo "debugKeyAlias=$KEYSTORE_KEY_ALIAS" >> key.properties
          echo "debugStorePassword=$KEYSTORE_STORE_PASSWORD" >> key.properties
          echo "debugKeyPassword=$KEYSTORE_KEY_PASSWORD" >> key.properties
        env:
          KEYSTORE_KEY_ALIAS: ${{ secrets.DEBUG_KEY_ALIAS }}
          KEYSTORE_KEY_PASSWORD: ${{ secrets.DEBUG_KEY_PASSWORD }}
          KEYSTORE_STORE_PASSWORD: ${{ secrets.DEBUG_KEYSTORE_PASSWORD }}
        working-directory: android

      - name: Build
        run: flutter build ${{ matrix.target }}

      - name: Upload apk
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: build/app/outputs/flutter-apk/app-debug.apk
